[submodule "third_party/brotli"]
	path = third_party/brotli
	url = https://github.com/google/brotli
[submodule "third_party/skcms"]
	path = third_party/skcms
	url = https://skia.googlesource.com/skcms.git
[submodule "third_party/highway"]
	path = third_party/highway
	url = https://github.com/google/highway
