# Build output directories
/build
/build*
/bazel*

# clangd
.cache
.vscode
.zed
# Output plots
tools/benchmark/metrics/plots
tools/benchmark/metrics/results.csv
tools/conformance/__pycache__

# Editor configuration
*.code-workspace

# macOS Finder state files
.DS_Store